<div id="<%= dom_id movie %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= movie.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= movie.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url image:</strong>
    <%= movie.url_image %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= movie.grade %>
  </div>
</div>
